header {
  top: 0;
  background-color: deepskyblue;
  border-bottom: solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
}

.title {
  margin-left: 1%;
  margin-top: 2.7%;
  text-decoration: none;
  text-decoration: black;
}

html {
  width: 100%;
  height: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

.nav {
  margin-top: 1%;
  margin-right: 1%;
}

body {
  background-color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.flexbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 80px;
  row-gap: 40px;
}

.flex-container>div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
}

.flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza_container {
  width: 300px;
  align-items: center;
}

.pizza_image {
  max-height: 170px;
  margin-top: 0.1%;
  width: 100%;
}

.pizza_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pizza_names {
  margin-top: 0.1%;
}

.warenkorb {
  width: 14px;
}

.pizza_description {
  font-size: 50%;
  width: 200px;
}

footer {
  height: 135px;
  background-color: deepskyblue;
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer>div {
  margin-left: 20px;
  margin-right: 20px;
}

.hours {
  margin-left: 1%;
}

.center {
  display: flex;
  justify-content: center;
}

.small-size-flex {
  width: 25px;
}


.position-question {
  text-align-last: none;
  text-align: justify;
}



.position-send {
  margin-top: 20px;
  margin-left: 94%;
  border: 2px solid black;
  font-family: Schrift;
  font-size: 19px;
  color: black;
}



.field {

  display: flex;

  justify-content: flex-start;

  margin-top: 20px;

}



.left {

  flex: 1;

  display: flex;

  justify-content: flex-end;

}

.warenkorb-size {
  width: 27px;
  height: 27px;
}

.feedback-button {
  background-color: deepskyblue;
  color: #ffffff;
  border: none;
  padding: 5px 14px;
  cursor: pointer;
  text-decoration: none;

}

.warenkorb-number {
  margin-top: 2px;
}

.right {

  flex: 1;

  font-size: 20px;

  font-family: Schrift;

  padding-left: 80px;

}



.field-text {

  display: flex;

  align-items: top;

  justify-content: flex-start;
}