header {
  top:0;
  background-color: deepskyblue;
  border-bottom: solid black;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
}

.title {
  margin-left: 1%;
  margin-top: 2.5%;
  text-decoration: none;
  text-decoration: black;
}



.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

body {
  background-color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.teaser > div {
  color:#ffffff;
  font-size: 50px;
}

.warenkorb-number {
  margin-top: 2px;
}

.softdrink-teaser {
  background-image: url(/Bilder/softdrinks-index.jpg);
  width: 240px;
  height: 160px;
  background-size: cover; /* füllt den ganzen div mit dem richitgen Bild */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px white;
}

.pizza-teaser {
  background-image: url(/Bilder/pizza-index.jpg);
  width: 240px;
  height: 160px;
  background-size: cover; /* füllt den ganzen div mit dem richitgen Bild */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px white;
}

.salad-teaser {
  background-image: url(/Bilder/salad-index.jpg);
  width: 240px;
  height: 160px;
  background-size: cover; /* füllt den ganzen div mit dem richitgen Bild */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px white;
}

.warenkorb-size {
  width: 27px;
  height: 27px;
}

.flexbox {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  gap: 80px;
  row-gap: 40px;
}

.flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.center {
  display: flex;
  justify-content: center;
}

footer {
  height: 135px;
  background-color: deepskyblue;
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer > div{
  margin-left: 20px;
  margin-right: 20px;
}

.small-size-flex {
  width: 25px;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

.nav {
  margin-top: 1%;
  margin-right: 1%;
}
