header {
    top:0;
    background-color: deepskyblue;
    border-bottom: solid black;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.title {
    margin-left: 1%;
    margin-top: 2.7%;
    text-decoration: none;
    text-decoration: black;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
}
.nav {
    margin-top: 1%;
    margin-right: 1%;
}

body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.flexbox {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 80px;
    row-gap: 40px;
}

.flex-container > div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-around;
}

.pizza_container {
    width: 300px;
    align-items: center;
}

.pizza_image {
    max-height: 170px;
    margin-top: 0.1%;
    width: 100%;
}

.pizza_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    padding-left: 80px;
    display: flex;
    justify-content: end;
}

.warenkorb-size {
    width: 27px;
    height: 27px;
  }

.pizza_names {
    margin-top: 0.1%;
}

.warenkorb {
    width: 14px;
}


.pizza_description {
    font-size: 50%;
    width: 200px;
}

.warenkorb-number {
    margin-top: 2px;
  }

footer {
    height: 135px;
    background-color: deepskyblue;
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer > div{
    margin-left: 20px;
    margin-right: 20px;
  }
  

.hours {
    margin-left: 1%;
}

.small-size-flex {
    width: 25px;
}

